@import "./globals.css";
@import "./document_execution_indicator/document_execution_indicator.css";
@import "./server_indicator/server_indicator.css";
@import "./toolbar_settings/toolbar_settings.css";
@import "./toolbar_menu_overflow/toolbar_menu_overflow.css";
@import "./tooltips/tooltips.css";

.toolbar_control {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.toolbar_control:hover {
  cursor: pointer;
}

/* file and settings icons */
#document_index_icon,
.settings-icon {
  width: 20px;
}

.toolbar_icon {
  height: 40px;
  color: #cecece;
  fill: #cecece;
}

.toolbar_icon:hover {
  fill: #909090 !important;
}

.toolbar_icon_wrapper {
  display: inline-block;
  width: 40px;
  height: 100%;
  text-align: center;
}

#file[data-active] {
  background: rgba(31, 38, 44, 0.72);
}

#settings[data-active] button {
  background: #030713;
}

#toolbar_close_button_icon {
  width: 18px;
}

#toolbar a {
  color: inherit;
}

#changes_indicator button {
  display: flex;
  width: auto;
  align-items: stretch;
  justify-content: center;
}

.changes_icon {
  width: 32px;
}

.changes_text {
  display: flex;
  align-items: center;
}
