@import "./theme_light.css";

#settings_button {
  position: relative;
}

#settings_button[data-warning] svg {
  fill: #cb5909;
}

#settings_button[data-warning] svg:hover {
  fill: darkorange !important;
}

#settings_box {
  position: absolute;
  right: 0;
  bottom: 40px;
  z-index: -1;
  display: none;
  min-width: 250px;
  min-height: 150px;
  padding: 17px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background-color: #030713;
  border-radius: 5px 5px 0 0;
}

[data-active] #settings_box {
  display: block;
  animation: comeUp ease 0.3s;
}

@keyframes comeUp {
  0% {
    opacity: 0;
    transform: translate(0, 90px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#settings_box_body {
  display: flex;
  width: 100vw;
  max-height: 80vh;
  padding: 18px 0;
  justify-content: center;
  text-align: left;
  overflow: auto;
}

.settings_box_items_wrapper {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
  justify-content: center;
}

.settings_box_item {
  width: 250px;
  margin: 9px 18px;
  padding: 15px;
  background: #0c111b;
}

#settings_box_header .settings_icon {
  position: relative;
  top: 4px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  fill: none;
  stroke: #24b1b0;
  stroke-width: 2;
}

#settings_box h3 {
  display: inline-block;
  margin: 10px 0;
  color: #24b1b0;
  font-size: 20px;
}

#settings_close_button {
  float: right;
  fill: #24b1b0;
}
#settings_close_button:hover {
  opacity: 0.6;
}

label {
  display: block;
  padding-bottom: 3px;
  color: #a9a8a8;
  font-size: 14px;
}

#settings_box .category_title {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 15px;
  color: #24b1b0;
  font-size: 16px;
}

#settings_box .category_title svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: top;
  fill: currentColor;
}

#settings_box .category_subtitle {
  max-width: 220px;
  color: #a9a8a8;
  font-size: 14px;
}

/* checkbox switch */
.switch {
  position: relative;
  float: right;
  width: 3.5em;
  height: 2em;
  padding: 0;
  cursor: pointer;
}
.switch input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.switch .slider {
  position: absolute;
  top: 50%;
  right: 0.5em;
  left: 0.5em;
  height: 0.3em;
  margin-top: -0.15em;
  vertical-align: middle;
  background-color: #4c4c4c;
  border-radius: 0.15em;
  transition: 0.4s;
}
.switch .square {
  position: absolute;
  top: 50%;
  left: 0.5em;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  color: #030713;
  background-color: #4c4c4c;
  border-radius: 0.15em;
  transition: 0.4s;
  content: "";
}
.switch input + * {
  position: relative;
  width: 100%;
  height: 100%;

  /* It's important to have a border (event transparent)
To be able to apply an outline to this element later*/
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.switch input:checked + * .slider {
  background-color: #24b1b0;
}
.switch input:checked + * .square {
  background-color: #24b1b0;
  transform: translateX(1.6em);
}

.settings_box_item[data-disabled] {
  background-color: rgba(12, 17, 27, 0.4);
  cursor: default;
}
.settings_box_item[data-disabled] .category_title,
.settings_box_item[data-disabled] .switch,
.settings_box_item[data-disabled] .category_subtitle {
  opacity: 0.4;
}
.settings_box_item[data-disabled] .category_title span {
  text-decoration: line-through;
}
.settings_box_item[data-disabled] .category_subtitle {
  text-decoration: line-through;
}
.settings_box_item[data-disabled] .switch {
  cursor: default;
}
