#execution_pending_icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  color: #cecece;
  transform: scaleX(-1);
}
#execution_pending_icon[data-animate] {
  opacity: 0;
  transform-origin: center;
  animation: rotateLoader 1s linear infinite !important;
}
@keyframes rotateLoader {
  0% {
    opacity: 1;
    transform: scaleX(-1) rotate(360deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleX(-1) rotate(0deg);
  }
}

#execution_completed_icon {
  width: 25px;
  height: 25px;
  opacity: 0;
  stroke-width: 5;
}
#execution_completed_icon[data-animate] {
  opacity: 1;
}
#execution_completed_icon[data-animate] path {
  stroke: green;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transform-origin: 50% 50%;
  animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

#execution_failed_icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  opacity: 0;
  stroke-width: 5;
}
#execution_failed_icon rect {
  width: 33px;
  height: 0;
  fill: #d74640;
}
#execution_failed_icon[data-animate] {
  opacity: 1;
}
#execution_failed_icon[data-animate] #cross_p1 {
  animation: draw 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
#execution_failed_icon[data-animate] #cross_p2 {
  animation: draw 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards 0.2s;
}
@keyframes draw {
  100% {
    width: 45px;
    height: 376.964px;
  }
}
