#eventsource-indicator button {
  position: relative;
}

#eventsource-indicator .event-source-livereload {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  left: 0;
  top: 0;
}

.event-source-livereload[data-variant="enabled"] {
  color: green;
}

#eventsource-indicator .event-source-icon {
  width: 40px;
  height: 40px;
}

.eventsource-circle {
  stroke: black;
  stroke-width: 0;
}

.eventsource-circle[data-variant="off"] {
  fill: #cecece;
}

.eventsource-circle[data-variant="connecting"] {
  fill: #cecece;
  animation: wink 1.2s ease-out infinite;
  transform-origin: center;
}

@keyframes wink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.eventsource-ring {
  stroke: rgba(206, 206, 206, 0.46);
  stroke-width: 4;
  fill: transparent;
  animation: pulse 1.2s ease-out infinite;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.eventsource-circle[data-variant="connected"] {
  fill: green;
}

.eventsource-circle[data-variant="failed"] {
  fill: #cc0000;
}
