!/.github/
/.github/**/node_modules/
/.jsenv/
/coverage/
/dist/
/docs/**/.jsenv/
/docs/**/dist/
/docs/**/node_modules/
/helpers/chromium/
/node_modules/
/src/**/s.js
/test/**/.jsenv/
/test/**/dist/
/test/**/syntax-error.js
/test/**/syntax-error.main.js
!.eslintrc.js