.jsenv/
.coverage/
dist/
node_modules/

!/.github/
/dev_exploring/
/experimental/
/node_modules/
/old/

**/babel_helpers/
**/client/regenerator_runtime.js

/tests/**/js_syntax_error.js
/tests/**/inline_js_module_syntax_error/main.html

/**/*.es5.js
/**/*.jsx
!.eslintrc.js