.jsenv/
.coverage/
dist/
node_modules/

!/.github/
/dev_exploring/
/experiments/
/node_modules/
/old/

**/babel_helpers/
**/client/regenerator_runtime.js
**/async-to-promises.js
**/syntax_error/client/*.js

**/tests/**/js_syntax_error.js
**/tests/**/js_module_inline_syntax_error/main.html
**/tests/**/snapshots/

/**/*.nomodule.js
/**/*.jsx
/**/*.noeslint.*
source-map@*.js
snapshots/
!/packages/*/snapshots/
!.eslintrc.js