/.jsenv/
/.vscode/settings.json
/coverage/
/docs/**/.jsenv/
/docs/**/coverage/
/docs/**/dist/
/docs/**/node_modules/
/docs/**/package-lock.json
/docs/**/yarn.lock
/node_modules/
/test-manual/**/.jsenv/
/jsconfig.json
/package-lock.json
/secrets.json
/yarn.lock
