.jsenv/
.coverage/
/docs/**/dist/
/docs/**/node_modules/
/docs/**/package-lock.json
/node_modules/
/packages/**/node_modules/
!/packages/**/tests/**/node_modules/
/packages/**/tests/**/dist/
/scripts/**/dist/
/secrets.json
/yarn.lock
.DS_STORE
todo.txt
/tests/**/dist/
/tests/**/ignored/
