/.dist/
/coverage/
/dist/
/docs/execution/basic-project/node_modules/
/docs/execution/basic-project/package-lock.json
/docs/execution/basic-project/importMap.json
/node_modules/
/test/**/syntax-error.js
/package-lock.json
/importMap.json
/jsconfig.json
