/.jsenv/
/coverage/
/dist/
/docs/**/.jsenv/
/docs/**/node_modules/
/helpers/chromium/
/node_modules/
/src/**/s.js
/src/**/system.js
/test/**/syntax-error.js
/test/**/syntax-error.main.js
/importMap.json
/jsconfig.json
/package-lock.json
