.coverage/
.jsenv/
dist/
node_modules/

/dev_exploring/
/experiments/
/node_modules/
/old/

**/babel_helpers/
**/client/regenerator_runtime.js
**/async-to-promises.js

/tests/**/js_syntax_error.js
/packages/**/server/tests/internal_error/snapshots/
/**/dist/**

/**/*.nomodule.js
/**/*.es5.js
source-map@*.js
snapshots/
!/packages/*/snapshots/
/jsconfig.json
/package-lock.json
