@import "./globals.css";
@import "./layout.css";
@import "./theme_light.css";
@import "./toolbar_trigger.css";
@import "../execution/execution.css";
@import "./focus.css";
@import "../eventsource/eventsource.css";
@import "../responsive/overflow_menu.css";
@import "../settings/settings.css";
@import "./tooltip.css";

#toolbar button {
  background: none;
  border: none;
  height: 100%;
  padding: 0;
}

#toolbar button:hover {
  cursor: pointer;
}

#toolbar a:hover {
  cursor: pointer;
}

/* file and settings icons */
#fileIconSvg,
.settings-icon {
  width: 20px;
}

.iconToolbar {
  height: 40px;
  fill: #cecece;
  color: #cecece;
}

.iconToolbar:hover {
  fill: #909090 !important;
}

.toolbar-icon-wrapper {
  height: 100%;
  text-align: center;
  width: 40px;
  display: inline-block;
}

#file-list-link[data-active] a {
  background: #1f262c;
}

#file[data-active] {
  background: rgba(31, 38, 44, 0.72);
}

#settings[data-active] button {
  background: #030713;
}

/* close icon */
#crossIconSvg {
  width: 18px;
}

/* #jsenvLogo {
  transition: 600ms;
} */

#toolbar a {
  color: inherit;
}
