@import "./globals.css";
@import "./document_execution_indicator/document_execution_indicator.css";
@import "./server_indicator/server_indicator.css";
@import "./toolbar_settings/toolbar_settings.css";
@import "./toolbar_menu_overflow/toolbar_menu_overflow.css";
@import "./tooltips/tooltips.css";

#toolbar button {
  background: none;
  border: none;
  height: 100%;
  padding: 0;
}

#toolbar button:hover {
  cursor: pointer;
}

#toolbar a:hover {
  cursor: pointer;
}

/* file and settings icons */
#document_index_icon,
.settings-icon {
  width: 20px;
}

.toolbar_icon {
  height: 40px;
  fill: #cecece;
  color: #cecece;
}

.toolbar_icon:hover {
  fill: #909090 !important;
}

.toolbar_icon_wrapper {
  height: 100%;
  text-align: center;
  width: 40px;
  display: inline-block;
}

#file[data-active] {
  background: rgba(31, 38, 44, 0.72);
}

#settings[data-active] button {
  background: #030713;
}

#toolbar_close_button_icon {
  width: 18px;
}

#document_index_link {
  display: flex;
}

#document_index_icon {
  margin-left: 10px;
}

#toolbar a {
  color: inherit;
}
