article[data-page="file-list"] {
  display: table;
  width: 100%;
  height: 100%;
  background: #1f262c;
  color: #97a0a0;
}

h2 {
  margin: 20px 0;
  color: #24b1b0;
  display: inline-block;
}

h4 {
  font-weight: normal;
  font-size: 15px;
  color: #97a0a0;
  margin: 20px 0;
}

#explorables {
  word-break: break-word;
  padding: 25px;
}

#explorables ul {
  padding: 0;
  margin: 0;
  overflow: auto;
  max-height: 75vh;
}

#explorables li {
  list-style-type: none;
  margin: 10px 0;
}

#explorables li .execution-link {
  width: 100%;
}

.execution-link {
  background: #204143;
  padding: 2px 7px;
  display: inline-block;
  color: #e7f2f3;
  font-family: monospace;
  text-decoration: unset;
}

/* icons */
#fileIconSvgConfig {
  margin-right: 20px;
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
}

#fileIconSvgConfig {
  stroke: none;
  fill: #24b1b0;
}
