html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  padding: 10px;
}

.columns {
  display: flex;
  width: 100%;
  gap: 20px;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  padding: 10px;
  color: #cccccc;
  font-size: 14px;
  font-family:
    SauceCodePro Nerd Font,
    Source Code Pro,
    Courier;
  background: #282c34;
  border: 0;
  border-radius: 8px;
  resize: vertical;
}

label {
  margin-bottom: 5px;
  padding: 0 0 5px 8px;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  font-family:
    Helvetica Neue,
    Helvetica,
    sans-serif;
}

form {
  margin: 0 0 10px 0;
}

button {
  margin: 10px 0 0 8px;
  padding: 8px 14px 8px 14px;
  color: #ffffff;
  background: #ff5f57;
  border: 0;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
}
