.loader {
  position: relative;
}

#loaderSvg {
  width: 20px;
  height: 20px;
  margin: 10px;
  transform: scaleX(-1);
  color: #cecece;
  opacity: 0;
}

@keyframes rotateLoader {
  0% {
    transform: scaleX(-1) rotate(360deg);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scaleX(-1) rotate(0deg);
    opacity: 1;
  }
}
.animateLoader {
  transform-origin: center;
  animation: rotateLoader 1s linear infinite;
}

#checkIconSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: 7px;
}

.checkmark {
  opacity: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: #cecece;
  /* stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both; */
}

.animateCheck {
  opacity: 1;
}

/* .animateCheck circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: green;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
} */

.animateCheck path {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  stroke: green;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
