.stateIndicator {
  display: inline-block;
}

.stateIndicator:hover {
  cursor: pointer;
}

#stateIndicatorSvg {
  height: 40px;
  width: 40px;
}

.stateIndicatorCircle {
  cx: 20;
  cy: 20;
  r: 5;
  stroke: black;
  stroke-width: 0;
  fill: #cecece;
}

.greenCircle {
  fill: green;
}

.redCircle {
  fill: #cc0000;
}

.loadingCircle {
  animation: wink 1.2s ease-out infinite;
  transform-origin: center;
}

.loadingRing {
  cx: 20;
  cy: 20;
  r: 13;
  stroke: rgba(206, 206, 206, 0.46);
  stroke-width: 4;
  fill: transparent;
  animation: pulse 1.2s ease-out infinite;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes wink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
