.tooltip {
  display: none;
  background-color: rgb(94, 94, 94);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  padding: 10px;
  font-size: 14px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(94, 94, 94) transparent transparent transparent;
}

.tooltipVisible {
  display: block;
  animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltiptextMoved {
  position: relative;
  top: -3px;
}

.retryIcon {
  display: none;
  width: 21px;
  height: 17px;
  fill: white;
  position: relative;
  top: 1px;
}

.retryIconDisplayed {
  display: inline-block;
}
