.tooltip {
  display: none;
  background-color: rgb(94, 94, 94);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  padding: 10px;
  font-size: 14px;
  margin-left: -40px;
  max-width: 160px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 60px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(94, 94, 94) transparent transparent transparent;
}

[data-tooltip-visible] .tooltip,
[data-tooltip-auto-visible] .tooltip {
  display: block;
  animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltipAction {
  display: inline-block;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  padding: 3px 7px;
  margin-top: 6px;
}

.tooltipAction a {
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

.tooltipIcon {
  fill: white;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
