@import "./tooltip.css";
@import "./serverStateIndicator.css";
@import "./fileExecutionIndicator.css";

#toolbar-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background: #404040;
}

#toolbar-wrapper > * {
  display: table-cell;
  vertical-align: middle;
}

#toolbar button {
  background: none;
  border: none;
  height: 100%;
  padding: 0;
}

#toolbar button:hover {
  cursor: pointer;
}

#jsenvLogoSvg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.fileNameContainer {
  max-width: 40%;
}

.fileName {
  width: 100%;
  margin: 10px;
  font-family: monospace;
  font-size: 15px;
  color: #cecece;
  background: #404040;
  border: transparent;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileName:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

/* noir foncé : #0c1215 */
/* plus clair: #0C201E ou #1F262C*/
/* bleu clair: #24C3B0 */
/* orange: #FC9B1E */
/* bleu foncé: #030713 */

/* bleu turquoise: #0D7E83 */
/* plus foncé: #076570 */
/* blanc: #E7F2F3 */

#settingsIconSvg {
  fill: #cecece;
  width: 20px;
  height: 20px;
}

#crossIconSvg {
  fill: #828282;
  width: 18px;
  height: 18px;
  margin: 11px 10px;
}
