@import "./tooltip.css";
@import "./serverStateIndicator.css";
@import "./fileExecutionIndicator.css";
@import "./settingsBox.css";

#toolbar-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background: #404040;
}

#toolbar-wrapper > * {
  display: table-cell;
  vertical-align: middle;
}

#toolbar button {
  background: none;
  border: none;
  height: 100%;
  padding: 0;
}

#toolbar button:hover {
  cursor: pointer;
}

#toolbar a:hover {
  cursor: pointer;
}

.line {
  min-width: 1px;
  height: 100%;
  background: #3a3a3a;
}

#jsenvLogoSvg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/* file name input & indicators */
.fileGroup {
  display: table !important;
  background: rgba(31, 38, 44, 0.72);
}

.fileGroup > * {
  display: table-cell;
  vertical-align: middle;
}

.fileNameContainer {
  max-width: 40%;
}

.fileName {
  width: 100%;
  margin: 10px;
  font-family: monospace;
  font-size: 15px;
  color: #cecece;
  background: transparent;
  border: transparent;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileName:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

/* file and settings icons */
#fileIconSvg,
#settingsIconSvg {
  fill: #cecece;
  width: 20px;
}

.iconToolbar {
  margin: 0 30px;
  height: 100%;
}

.iconToolbar-wrapper {
  /* margin-bottom: 3px;
  border-top: 1px solid transparent;
  border-radius: 0 0 5px 5px; */
  height: 100%;
}

.iconToolbar-selected {
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
}

.iconToolbar-selected.file-icon-wrapper {
  background: #1f262c;
}

.iconToolbar-selected.settings-icon-wrapper {
  background: #030713;
}

/* close icon */
#crossIconSvg {
  fill: #828282;
  width: 18px;
}

/* toolbarTrigger */
#toolbarTrigger {
  display: none;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 10px;
  width: 50px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #00000026;
  border-bottom: none;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  transition: 600ms;
}

#toolbarTrigger:hover {
  cursor: pointer;
}

#toolbarTrigger.toolbarTriggerVisible {
  display: block;
}

#toolbarTrigger.toolbarTriggerUp {
  height: 40px;
  padding: 5px 0;
}

#jsenvLogo {
  display: none;
  transition: 600ms;
}

#jsenvLogo.jsenvLogoVisible {
  display: block;
}
