.box {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: flex-start; /* # or aspectRatio is ignored, see https://stackoverflow.com/questions/68739963/why-is-aspect-ratio-css-property-inside-flexbox-sometimes-ignored/68740146 */
  font-size: inherit; /* when box are inside <button> for some reason the font-size is decreased */
}

.box[data-vertical] {
  flex-direction: column;
}
.box[data-invisible] {
  visibility: hidden;
}
.box[data-hidden] {
  visibility: hidden;
}

button.box {
  padding: 0;
  background: none;
  border: none;
}
