.inserts_wrapper {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 0;
  flex-grow: 1;
  flex-direction: column;
}

.insert_main {
  display: flex;
  min-height: 0;
  flex: 1;
}

.insert_top,
.insert_left,
.insert_right,
.insert_bottom {
  position: relative;
}

.insert_left,
.insert_right {
  overflow: hidden;
}
