.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.46);
}

.modal_scrollable_content {
  width: 100%;
  height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
}
