.explorer {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  flex: 1; /* Make explorer take all available height */
  flex-direction: column;
  background: #f5f5f5;
  overflow: auto;
}

.explorer_head {
  display: flex;
  padding-left: 6px;
  flex-direction: row;
  align-items: center;
}
.explorer_head h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 24px;
  font-size: 16px;
  user-select: none;
}

.explorer_body {
  display: flex;
  min-height: 0; /* Critical for scrolling */
  flex: 1; /* Take remaining space */
  flex-direction: column;
  overflow: hidden;
}
.explorer_group > summary {
  flex-shrink: 0;
  font-size: 14px;
  border: 1px solid transparent;
  border-top-color: #e0e0e0;
  cursor: pointer;
  user-select: none;
}
.explorer_group:first-of-type > summary {
  border-top-color: transparent;
}
.explorer_group > summary:focus {
  border-color: blue;
}

.summary_action_icon {
  padding: 0;
  visibility: hidden;
  pointer-events: none;
}
.explorer_group[open] .summary_action_icon {
  visibility: visible;
  pointer-events: auto;
}
.summary_label {
  display: flex;
  padding-right: 10px;
  flex: 1;
  align-items: center;
  gap: 0.2em;
}

.explorer_group > summary .summary_label {
  font-weight: 500;
}

.explorer_body > [data-resize-handle] {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 5px;
  margin-top: -2.5px;
  margin-bottom: -2.5px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  opacity: 0;
  transition:
    background-color 0.15s ease,
    opacity 0.15s ease;
  cursor: ns-resize;
}
.explorer_body > [data-resize-handle]:hover,
.explorer_body > [data-resize-handle][data-active] {
  background-color: blue;
  opacity: 0.5;
  transition-delay: 300ms; /* Delay before showing hover effect */
}

.explorer_group_content {
  height: 100%;
  min-height: 0;
  flex: 1;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-width: thin;
}
.explorer_group[data-size-animated] .explorer_group_content {
  overflow-y: hidden;
}

.explorer_item_list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.explorer_item {
  display: flex;
}
.explorer_item .navi_link {
  border-radius: 0;
}
.explorer_item_content {
  padding-left: 16px;
  flex: 1;
}
.explorer_item input {
  margin-left: -3.5px;
  padding-top: 0.1em;
  padding-bottom: 0em;
  /* this is the line height of the text */
  /* without this, the input is 0.5px too big in height and slighlty moves the text or the layout around */
  /* height: 1.5em; */
  flex: 1;
  font-size: 16px;
}
.explorer_item_content {
  display: flex;
  min-width: 0; /* https://css-tricks.com/flexbox-truncated-text/#aa-the-solution-is-min-width-0-on-the-flex-child */
  align-items: center;
  gap: 0.3em;
  white-space: nowrap;
}

.explorer_foot {
  height: 10px;
}
