@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src:
    local("Roboto"),
    url(./roboto_v27_latin_regular.woff2) format("woff2");
}

#splashscreen {
  font-family: Roboto;
}
