@import "./style/toolbar.css";
@import "./style/configuration.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans;
}

body {
  width: 100%;
}

main {
  width: 100%;
  min-height: 100%; /* to ensure page loader takes the whole height */
  position: relative;
}

#page-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

iframe {
  transition-duration: 300ms;
}

#toolbar {
  height: 0;
  visibility: hidden; /* ensure toolbar children are not focusable when hidden */
  position: fixed;
  bottom: 0;
}

html[data-toolbar-visible] #toolbar {
  height: 40px;
  visibility: visible;
  border-top: 1px solid #676767;
}

html[data-toolbar-visible] iframe {
  padding-bottom: 40px;
}

html[data-toolbar-visible] {
  scroll-padding-bottom: 40px;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#toolbar button:focus,
#toolbar a:focus {
  outline: none;
}

html[data-last-interaction="keyboard"] #toolbar button:focus,
html[data-last-interaction="keyboard"] #toolbar a:focus {
  outline: 2px dotted #7aacfe;
  /* outline: 2px dotted -webkit-focus-ring-color; */
  outline-offset: -2px;
}
