@import "./toolbar/toolbar.css";
@import "./page-error-navigation/page-error-navigation.css";
@import "./page-file-list/page-file-list.css";

/* reset stuff */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* global utils */
[data-force-hide] {
  display: none !important;
}

html {
  font-family: arial, sans;
}

/* structure */
main {
  position: relative; /* to ensure page loader takes the whole height */
}

/* #page > *:first-child:before {
  content: ".";
  float: left;
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 100vh;
  width: 0;
  background: violet;
} */

#page > *:first-child {
  /* for the float:left  */
  overflow: hidden;
  min-height: 100vh;
}

/* #page > *:first-child:after {
  clear: both;
  overflow: hidden;
} */

#page > * {
  /* min-height: 100%; */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
}

#toolbar {
  /* ensure toolbar children are not focusable when hidden */
  visibility: hidden;
}

html[data-toolbar-visible] {
  scroll-padding-bottom: 40px;
}

html[data-toolbar-visible] #page {
  padding-bottom: 40px;
}

html[data-toolbar-visible] #page > *:first-child {
  min-height: calc(100vh - 40px);
}

html[data-toolbar-visible] footer {
  height: 40px;
}

html[data-toolbar-visible] #toolbar {
  visibility: visible;
}

html[data-toolbar-animation] #page {
  transition-property: padding-bottom;
  transition-duration: 300ms;
}

html[data-toolbar-visible] #page > *:first-child {
  transition-property: min-height;
  transition-duration: 300ms;
}

html[data-toolbar-animation] footer {
  transition-property: height;
  transition-duration: 300ms;
}

html[data-toolbar-animation] #toolbar {
  transition-property: visibility;
  transition-duration: 300ms;
}

#toolbar[data-animate] {
  transition-duration: 300ms;
}

#page-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

main iframe {
  border: none;
  width: 100%;
  height: 100%;
}

footer button:focus,
footer a:focus {
  outline: none;
}

html[data-last-interaction="keyboard"] footer button:focus,
html[data-last-interaction="keyboard"] footer a:focus {
  outline: 2px dotted #7aacfe;
  /* outline: 2px dotted -webkit-focus-ring-color; */
  outline-offset: -2px;
}
