@import "./style/toolbar.css";
@import "./style/configuration.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans;
}

body {
  width: 100%;
}

main {
  width: 100%;
}

iframe {
  transition-duration: 300ms;
}

#toolbar-container {
  height: 0;
  position: fixed;
  bottom: 0;
  transition-duration: 300ms;
}

html[data-toolbar-visible] #toolbar-container {
  height: 40px;
}

html[data-toolbar-visible] iframe {
  padding-bottom: 40px;
}

html[data-toolbar-visible] {
  scroll-padding-bottom: 40px;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#toolbar-container button:focus,
#toolbar-container a:focus {
  outline: none;
}

html[data-last-interaction="keyboard"] #toolbar-container button:focus,
html[data-last-interaction="keyboard"] #toolbar-container a:focus {
  outline: 2px dotted #7aacfe;
  /* outline: 2px dotted -webkit-focus-ring-color; */
  outline-offset: -2px;
}
