@import "./navigation/navigation.css";
@import "./toolbar/toolbar.css";
@import "./page-error-navigation/page-error-navigation.css";
@import "./page-file-list/page-file-list.css";

/* reset stuff */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* global utils */
[data-force-hide] {
  display: none !important;
}

html {
  font-family: arial, sans;
}

/* structure */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

main {
  flex-grow: 1;
}

html[data-route="file-execution"] main {
  /*
  prevent scrollbar on windows due to iframe min-height:100%
  creating a 1px scrollbar
  */
  overflow: hidden;
}

main > * {
  min-height: 100%;
}

main > iframe {
  border: none;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
}

#toolbar {
  /* ensure toolbar children are not focusable when hidden */
  visibility: hidden;
}

html[data-toolbar-visible] {
  scroll-padding-bottom: 40px;
}

html[data-toolbar-visible] #page {
  padding-bottom: 40px;
}

html[data-toolbar-visible] footer {
  height: 40px;
}

html[data-toolbar-visible] #toolbar {
  visibility: visible;
}

html[data-toolbar-animation] #page {
  transition-property: padding-bottom;
  transition-duration: 300ms;
}

html[data-toolbar-animation] footer {
  transition-property: height;
  transition-duration: 300ms;
}

html[data-toolbar-animation] #toolbar {
  transition-property: visibility;
  transition-duration: 300ms;
}

#toolbar[data-animate] {
  transition-duration: 300ms;
}

footer button:focus,
footer a:focus {
  outline: none;
}

html[data-last-interaction="keyboard"] footer button:focus,
html[data-last-interaction="keyboard"] footer a:focus {
  outline: 2px dotted #7aacfe;
  /* outline: 2px dotted -webkit-focus-ring-color; */
  outline-offset: -2px;
}
