@import "./toolbar/toolbar.css";
@import "./page-error-navigation/page-error-navigation.css";
@import "./page-file-list/page-file-list.css";

* {
  box-sizing: border-box;
}

[data-force-hide] {
  display: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: arial, sans;
}

main {
  /* to ensure page loader takes the whole height */
  position: relative;
}

main #page,
main #page > * {
  min-height: 100vh;
}

html[data-toolbar-visible] main {
  padding-bottom: 40px;
}

html[data-toolbar-visible] main #page > * {
  min-height: calc(100vh - 40px);
  transition-duration: 400ms;
  transition-property: min-height;
}

html[data-toolbar-visible] main #page {
  min-height: calc(100vh - 40px);
}

#page-loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

aside {
  height: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

aside #toolbar {
  visibility: hidden; /* ensure toolbar children are not focusable when hidden */
}

html[data-toolbar-visible] aside #toolbar {
  visibility: visible;
}

main {
  transition-duration: 300ms;
}

aside[data-animate],
/*
it's important to put a transition duration of 300ms on toolbar too
so that visibility: hidden wait to the transition to be done
 */
aside[data-animate] #toolbar {
  transition-duration: 300ms;
}

html[data-toolbar-visible] aside {
  height: 40px;
}

html[data-toolbar-visible] {
  scroll-padding-bottom: 40px;
}

main iframe {
  border: none;
  width: 100%;
}

aside button:focus,
aside a:focus {
  outline: none;
}

html[data-last-interaction="keyboard"] aside button:focus,
html[data-last-interaction="keyboard"] aside a:focus {
  outline: 2px dotted #7aacfe;
  /* outline: 2px dotted -webkit-focus-ring-color; */
  outline-offset: -2px;
}
