footer {
  display: table-row;
  height: 40px;
  background: #404040;
  transition: transform, background;
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
}

footer[data-visible] {
  transform: translate3d(0, 40px, 0);
  transition-duration: 300ms;
}
