* {
  box-sizing: border-box;
}

[data-force-hide] {
  display: none !important;
}

html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  flex: 1;
  flex-direction: column;
}

html {
  height: 100%;
  font-family: arial, sans;
}

button:focus,
a:focus,
input:focus,
*[data-contains-hidden-input] input:focus + * {
  outline-style: none;
  outline-offset: -2px;
}

*[data-contains-hidden-input] input:focus + * {
  outline-width: 4px;
  outline-offset: -2px;
}

html[data-last-interaction="keyboard"] button:focus,
html[data-last-interaction="keyboard"] a:focus,
html[data-last-interaction="keyboard"] input:focus,
html[data-last-interaction="keyboard"]
  *[data-contains-hidden-input]
  input:focus
  + * {
  outline-style: auto;
}

html[data-last-interaction="keyboard"]
  *[data-contains-hidden-input]
  input:focus
  + * {
  outline-color: rgb(0, 150, 255);
}

/*
Don't try to replace @-moz-document url-prefix() this by
-moz-outline or -moz-outline-color
Because firefox would take into account outline instead of -moz-outline
:moz-focus-ring
Because for some element we set the focus outline on a div which would not match :focusring
*/
@-moz-document url-prefix() {
  html[data-last-interaction="keyboard"] button:focus,
  html[data-last-interaction="keyboard"] a:focus,
  html[data-last-interaction="keyboard"] input:focus,
  html[data-last-interaction="keyboard"]
    *[data-input-customized]
    input:focus
    + * {
    outline-width: 2px;
    outline-style: solid;
    /*
    force a blue color for firefox otherwise
    it uses outline-color: inherit
    making it unpredictible and sometimes hard to see
    */
    outline-color: rgb(0, 150, 255);
    outline-offset: 0;
  }
}
::-moz-focus-inner {
  border: 0;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

main > * {
  min-width: 100%;
  flex: 1;
}

hr {
  margin: 15px 0;
  color: black;
  background-color: black;
  border-color: black;
}

article[data-page="file-list"] {
  color: #97a0a0;
  background-color: #204143;
}

nav,
#explorables-message {
  background: #1f262c;
}

#explorables nav {
  /* overflow hidden to ensure it wraps li which have margins
  otherwise the background color is not the one from <nav> */
  overflow: hidden;
}

#explorables-message {
  overflow: auto; /* propagate background to margins cause by h4 inside */
}

article h2 {
  display: flex;
  margin: 0;
}

article h2 svg {
  margin-right: 15px;
}

#main_html_file {
  padding: 25px;
  padding-bottom: 0;
}

#main_file_link {
  color: #e7f2f3;
}

h2 {
  display: inline-block;
  margin: 20px 0;
  color: #24b1b0;
}

h4 {
  padding: 0 25px;
  color: #97a0a0;
  font-weight: normal;
  font-size: 15px;
}

#explorables {
  word-break: break-word;
}

#explorables-header {
  position: sticky;
  top: 0;
  /* padding-bottom: 10px; */
  width: 100%;
}

#explorables_header_and_menu {
  position: relative;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #204143;
}

#explorables_header_bottom_spacing {
  height: 20px;
  background: #1f262c;
}

#directory_relative_url {
  color: orange;
}

#explorables ul {
  margin: 0;
  padding: 0px 25px 25px 25px;
}

#explorables li {
  margin: 10px 0;
  list-style-type: none;
}

#explorables li:first-child {
  margin-top: 0;
}

#explorables li .execution-link {
  width: 100%;
  word-break: break-all;
}

.execution-link {
  display: inline-block;
  padding: 6px 12px;
  color: #e7f2f3;
  font-size: 14px;
  font-family: monospace;
  text-decoration: unset;
  background: #204143;
}

/* icons */
#main_file_icon {
  fill: #24b1b0;
}

#explorables_icon {
  width: 25px;
  height: 25px;
  fill: #24b1b0;
  stroke: none;
}

#explorables fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

#explorables fieldset label {
  display: inline-block;
  padding: 0;
}

#explorables fieldset input {
  position: absolute;
  opacity: 0;
}

#explorables fieldset label input + * {
  display: block;
  min-width: 8em;
  padding: 0.7em 1em;
  text-align: center;
  background-color: #204143;
  border-radius: 0.1em;
}

#explorables fieldset input:checked + * {
  color: orange;
  background: #1f262c;
}

/* scrolable menu */
.menu-wrapper {
  position: relative;
  max-width: 100%;
  margin-top: 25px;
  transition: 300ms;
  overflow-x: hidden;
  overflow-y: hidden;
}
.menu {
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.menu .item {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  padding: 1em;
}
.paddle {
  position: absolute;
  bottom: 0;
  height: 36px;
  color: #1f262c;
  background: #24b1b0;
  border: none;
}
.left-paddle {
  left: 0;
}
.right-paddle {
  right: 0;
}
.hidden {
  display: none;
}
