aside {
  width: 250px;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  transition: width 0.3s ease-in-out;
  border-right: 1px solid #e0e0e0;
  min-width: 100px;
}
aside[data-open] {
  width: 200px;
}

aside > [data-resize-handle] {
  position: absolute;
  right: -2px;
  width: 4px;
  top: 0;
  bottom: 0;
  cursor: ew-resize;
}
aside > [data-resize-handle]:hover,
aside[data-resizing] > [data-resize-handle] {
  background-color: blue;
  opacity: 0.5;
}
