/**
 * We can safely put overflow-x hidden on the body because
 * 1. <aside> has its own x scrollbar + min-width
 * 2. <main> has its own x scrollbar
 * 
 * We want to keep y overflow and in that case which always happen on <main> because
 * 1. <aside> takes 100vh and has its own y scrollbar
 * 2. <main> has not y scrollbar
 *
 */

body {
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

#app {
  display: flex;
  flex-direction: row;
}

aside {
  width: 250px;
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 1px solid #e0e0e0;
  min-width: 100px;
  z-index: 0; /* to ensure the content inside the <aside> cannot go above the [data-resize-handle] */
}
aside[data-open] {
  width: 200px;
}

aside > [data-resize-handle] {
  position: absolute;
  z-index: 1;
  width: 5px;
  right: -2.5px;
  top: 0;
  bottom: 0;
  cursor: ew-resize;
}
aside > [data-resize-handle]:hover,
aside[data-resizing] > [data-resize-handle] {
  background-color: blue;
  opacity: 0.5;
}

main {
  padding-bottom: 0;
  min-width: 200px;
  box-sizing: border-box;
}
.main_body {
  /* min-height ensure the scrollbar for <main> x overflow always appear at the bottom of the document
        and overflow-x on <main> to prevent x-scrollbar to affect <aside> layout and sizes
        
        which is the part that is overflowing (the aside cannot overflow because
        it has a fixed width + overflow hidden) */
  min-height: 100vh;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

.main_body_wrapper {
  padding: 20px;
}
main h1 {
  margin-top: 0;
}
