#settings-box {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 0;
  text-align: center;
  padding: 17px;
  font-size: 14px;
  color: #fff;
  background-color: #030713;
  border-radius: 5px 5px 0 0;
  min-width: 250px;
  min-height: 150px;
  z-index: -1;
}

[data-active] #settings-box {
  display: block;
  animation: comeUp ease 0.3s;
}

@keyframes comeUp {
  0% {
    opacity: 0;
    transform: translate(0, 90px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#settings-box-body {
  text-align: left;
  padding: 18px 0;
  max-height: 80vh;
  overflow: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.settings-box-items-wrapper {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.settings-box-item {
  padding: 15px;
  background: #0c111b;
  width: 250px;
  margin: 9px 18px;
}

#settings-box-header .settings-icon {
  fill: none;
  stroke: #24b1b0;
  stroke-width: 2;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
}

#settings-box h3 {
  display: inline-block;
  font-size: 20px;
  margin: 10px 0;
  color: #24b1b0;
}

#button-close-settings {
  float: right;
  fill: #24b1b0;
}

#button-close-settings:hover {
  opacity: 0.6;
}

label {
  color: #a9a8a8;
  font-size: 14px;
  padding-bottom: 3px;
  display: block;
}

#settings-box .category-title {
  color: #24b1b0;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 4px;
}

#settings-box .category-title svg {
  fill: #24b1b0;
  vertical-align: top;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

#settings-box .category-subtitle {
  color: #a9a8a8;
  font-size: 14px;
  max-width: 220px;
}

/* checkbox switch */
.switch {
  position: relative;
  float: right;
  width: 3.5em;
  height: 2em;
  padding: 0;
  cursor: pointer;
}
.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  vertical-align: middle;
  height: 0.3em;
  left: 0.5em;
  right: 0.5em;
  top: 50%;
  margin-top: -0.15em;
  background-color: #4c4c4c;
  transition: 0.4s;
  border-radius: 0.15em;
}
.switch .square {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.5em;
  top: 50%;
  margin-top: -0.5em;
  background-color: #4c4c4c;
  color: #030713;
  transition: 0.4s;
  border-radius: 0.15em;
}
.switch input + * {
  position: relative;
  width: 100%;
  height: 100%;

  /* It's important to have a border (event transparent)
To be able to apply an outline to this element later*/
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
}
.switch input:checked + * .slider {
  background-color: #24b1b0;
}
.switch input:checked + * .square {
  transform: translateX(1.6em);
  background-color: #24b1b0;
}

.settings-box-item[data-disabled] {
  background-color: rgba(12, 17, 27, 0.4);
  cursor: default;
}
.settings-box-item[data-disabled] .category-title,
.settings-box-item[data-disabled] .switch,
.settings-box-item[data-disabled] .category-subtitle {
  opacity: 0.4;
}
.settings-box-item[data-disabled] .category-title span {
  text-decoration: line-through;
}
.settings-box-item[data-disabled] .category-subtitle {
  text-decoration: line-through;
}
.settings-box-item[data-disabled] .switch {
  cursor: default;
}
