#menu_overflow_button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  background: #404040;
}

#menu_overflow_icon {
  width: 25px;
}

#menu_overflow {
  visibility: hidden; /* disable keyboard navigation */
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #404040;
  opacity: 0;
}

#menu_overflow[data-animate] {
  transition-property: left, opacity;
  transition-duration: 0.3s;
}

#menu_overflow > * {
  vertical-align: middle;
  text-align: center;
}

#toolbar[data-menu-overflow-enabled] #menu_overflow_button {
  display: block;
}

#toolbar[data-menu-overflow-opened] #menu_overflow_button {
  background: #030713;
}

#toolbar[data-menu-overflow-enabled][data-menu-overflow-opened]
  #toolbar-wrapper {
  visibility: hidden; /* disable keyboard navigation */
}

#toolbar[data-menu-overflow-opened] #menu_overflow {
  visibility: visible; /* restore keyboard navigation */
  display: block;
  opacity: 1;
  left: 0;
  margin-left: -40px;
}

#toolbar[data-menu-overflow-enabled] #settings-box {
  right: -40px;
}
