/*
 * This file is inlined in the HTML file by [data-jsenv-force-inline]
 * Responsabilities:
 * - Set styles for js disabled (<noscript>)
 * - Set styles for "browser not supported" message
 * - Set styles for initial html while the app is booting (splashscreen)
 * Not in the scope of this file:
 * - Styles while the app is loading, it's the role of app_loader.css
 */

noscript {
  display: block;
  width: 80%;
  max-width: 640px;
  margin: auto;
  text-align: center;
}

#browser_not_supported {
  display: block;
  width: 80%;
  max-width: 640px;
  margin: auto;
  text-align: center;
}

#app[data-booting] {
  width: 100%;
  height: 100%;
  visibility: hidden; /* Hides app while its booting */
  overflow: hidden; /* While app is booting layout might be broken -> prevent scrollbar */
}

#splashscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a9a8a8;
  background-color: #030713;
  opacity: 0;
}
#splashscreen[data-splashin] {
  animation-name: splashin;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
@keyframes splashin {
  from {
    opacity: 0;
    /* transform: scale(0); */
  }

  to {
    opacity: 1;
    /* transform: scale(1); */
  }
}
#splashscreen_logo {
  margin: 32px;
}
#splashscreen_message {
  display: flex;
  width: 80%;
  max-width: 640px;
  margin: 32px;
  flex: 1;
  justify-content: center;
}
#booting_error {
  display: block;
  width: 100%;
  text-align: center;
}
#booting_error p {
  display: inline-block;
  padding: 16px 48px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}
#booting_error details {
  display: inline-block;
  max-width: 100%;
}
#booting_error details summary {
  text-align: center;
}
#booting_error details pre {
  text-align: left;
  overflow: auto;
}
#splashscreen[data-splashout] {
  animation-name: splashout;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes splashout {
  from {
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}
