#page-loader {
  visibility: hidden;
  position: fixed; /* position fixed in case there is scrollbar the loader remains visible */
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: auto; /* prevent interacting with page that is being navigated away */
  background: black;
  text-align: center;
}

#page-loader-box {
  display: inline-block;
  width: 60%;
  max-width: 400px;
  margin-top: 100px;
  background: grey;
  border-radius: 0.2em;
  visibility: hidden;
  opacity: 0;
}

#page-loader-box[data-animate] {
  transition-property: opacity, visibility;
  transition-duration: 1200ms;
}

#page-loader-box[data-visible] {
  visibility: visible;
  opacity: 1;
}

#page-loader-box svg {
  width: 50px;
  height: 50px;
}

#page-loader-box a {
  text-decoration: underline;
}
