#page-loader {
  visibility: hidden;
  position: fixed; /* position fixed in case there is scrollbar the loader remains visible */
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: auto; /* prevent interacting with page that is being navigated away */
  background: black;
  text-align: center;
}

#page-loader-box {
  display: inline-block;
  width: 60%;
  max-width: 400px;
  margin-top: 100px;
  background: white;
  border-radius: 0.2em;
  visibility: hidden;
  opacity: 0;
}

#page-loader-box[data-animate] {
  transition-property: opacity, visibility;
  transition-duration: 1200ms;
}

#page-loader-box[data-visible] {
  visibility: visible;
  opacity: 1;
}

#page-loader-box > * {
  padding: 1em;
}

#page-loader-box > *:first-child {
  padding-top: 4em;
}

#page-loader-box > *:last-child {
  padding-bottom: 4em;
}

#page-loader-box svg {
  width: 50px;
  height: 50px;
  color: orange;
}

#page-loader-icon {
  transform: scaleX(-1);
}

#page-loader-icon[data-animate] {
  transform-origin: center;
  animation: rotatePageLoader 1.5s linear infinite !important;
}
@keyframes rotatePageLoader {
  0% {
    transform: scaleX(-1) rotate(360deg);
    /* opacity: 1; */
  }
  /* 50% {
    opacity: 0;
  } */
  100% {
    transform: scaleX(-1) rotate(0deg);
    /* opacity: 1; */
  }
}

#page-loader-box a {
  text-decoration: underline;
}
