/* Loader icon */
#loader-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  transform: scaleX(-1);
  color: #cecece;
  opacity: 0;
}
#loader-icon.animate {
  transform-origin: center;
  animation: rotateLoader 1s linear infinite;
}
@keyframes rotateLoader {
  0% {
    transform: scaleX(-1) rotate(360deg);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scaleX(-1) rotate(0deg);
    opacity: 1;
  }
}

/* Check icon */
#check-icon {
  width: 25px;
  height: 25px;
  margin: 7px;
  opacity: 0;
  stroke-width: 5;
}
#check-icon.animate {
  opacity: 1;
}
#check-icon.animate path {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  stroke: green;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

/* Cross icon */
#cross-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  opacity: 0;
  stroke-width: 5;
}
#cross-icon rect {
  x: 239.397;
  rx: 17;
  ry: 17;
  width: 33.205;
  height: 0;
  fill: #d74640;
}
#cross-icon.animate {
  opacity: 1;
}
#cross-icon.animate #cross_p1 {
  animation: draw 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
#cross-icon.animate #cross_p2 {
  animation: draw 0.5s cubic-bezier(0.65, 0, 0.45, 1) forwards 0.2s;
}
@keyframes draw {
  100% {
    height: 376.964;
    width: 45px;
  }
}
