#button-livereload-indicator .button-content svg {
  height: 40px;
  width: 40px;
}

.livereload-circle {
  cx: 20;
  cy: 20;
  r: 5;
  stroke: black;
  stroke-width: 0;
}

.livereload-circle[data-variant="off"] {
  fill: #cecece;
}

.livereload-circle[data-variant="connecting"] {
  animation: wink 1.2s ease-out infinite;
  transform-origin: center;
}

@keyframes wink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.livereload-ring {
  cx: 20;
  cy: 20;
  r: 13;
  stroke: rgba(206, 206, 206, 0.46);
  stroke-width: 4;
  fill: transparent;
  animation: pulse 1.2s ease-out infinite;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.livereload-circle[data-variant="connected"] {
  fill: green;
}

.livereload-circle[data-variant="disconnected"] {
  fill: #cc0000;
}
