#overflow-menu-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  background: #404040;
}

#dotsIconSvg {
  fill: #cecece;
  width: 25px;
}

#overflow-menu {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #404040;
  opacity: 0;
}

#overflow-menu[data-animate] {
  transition-property: left, opacity;
  transition-duration: 0.3s;
}

#overflow-menu > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#toolbar[data-overflow-menu-enabled] #overflow-menu-button {
  display: block;
}

#toolbar[data-overflow-menu-visible] #overflow-menu-button {
  background: #030713;
}

#toolbar[data-overflow-menu-visible] #overflow-menu {
  opacity: 1;
  left: 0;
  margin-left: -40px;
}
