#settings-box {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 0;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #030713;
  border-radius: 5px 5px 0 0;
  min-width: 250px;
  min-height: 150px;
  z-index: -1;
}

[data-active] #settings-box {
  display: block;
  animation: comeUp ease 0.3s;
}

@keyframes comeUp {
  0% {
    opacity: 0;
    transform: translate(0, 90px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#settings-box-body {
  text-align: left;
}

.settings-box-item {
  margin: 13px 0;
  padding: 15px 20px;
  background: #0c111b;
}

#settings-box-header .settings-icon {
  fill: none;
  stroke: #24b1b0;
  stroke-width: 2;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
}

#settings-box h3 {
  display: inline-block;
  font-size: 20px;
  margin: 10px 0;
  color: #24b1b0;
}

label {
  color: #a9a8a8;
  font-size: 14px;
  padding-bottom: 3px;
  display: block;
}

#settings-box .category-title {
  margin-bottom: 12px;
  color: #24b1b0;
  font-size: 18px;
  display: inline-block;
}

#settings-box .category-title svg {
  fill: #24b1b0;
  vertical-align: top;
  margin-right: 5px;
}

#settings-box .category-subtitle {
  margin-bottom: 15px;
  color: #a9a8a8;
  font-size: 14px;
  max-width: 220px;
}
