#settings-box {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 0;
  text-align: center;
  padding: 17px;
  font-size: 14px;
  color: #fff;
  background-color: #030713;
  border-radius: 5px 5px 0 0;
  min-width: 250px;
  min-height: 150px;
  z-index: -1;
}

[data-active] #settings-box {
  display: block;
  animation: comeUp ease 0.3s;
}

@keyframes comeUp {
  0% {
    opacity: 0;
    transform: translate(0, 90px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#settings-box-body {
  text-align: left;
}

.settings-box-item {
  margin-top: 13px;
  padding: 15px;
  background: #0c111b;
}

#settings-box-header .settings-icon {
  fill: none;
  stroke: #24b1b0;
  stroke-width: 2;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
}

#settings-box h3 {
  display: inline-block;
  font-size: 20px;
  margin: 10px 0;
  color: #24b1b0;
}

#button-close-settings {
  float: right;
  fill: #24b1b0;
}

#button-close-settings:hover {
  opacity: 0.6;
}

label {
  color: #a9a8a8;
  font-size: 14px;
  padding-bottom: 3px;
  display: block;
}

#settings-box .category-title {
  color: #24b1b0;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 4px;
}

#settings-box .category-title svg {
  fill: #24b1b0;
  vertical-align: top;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

#settings-box .category-subtitle {
  color: #a9a8a8;
  font-size: 14px;
  max-width: 220px;
}

/* checkbox switch */
.switch {
  position: relative;
  float: right;
  width: 30px;
  height: 6px;
  padding: 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: #24b1b0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4c4c4c;
  transition: 0.4s;
  border-radius: 2px;
  font-size: 12px;
  padding-top: 4px;
  margin-top: 10px;
}
.switch input:checked + .slider:before {
  transform: translateX(16px);
  background-color: #24b1b0;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  left: 0px;
  top: -5px;
  background-color: #4c4c4c;
  color: #030713;
  transition: 0.4s;
  border-radius: 2px;
  padding: 4px;
}
