@import "./tooltip.css";
@import "./execution-indicator.css";
@import "./livereload-indicator.css";
@import "./settingsBox.css";
@import "./overflow-menu.css";

#toolbar-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  background: #404040;
}

#toolbar-wrapper > * {
  display: table-cell;
  vertical-align: middle;
}

#toolbar button {
  background: none;
  border: none;
  height: 100%;
  padding: 0;
}

#toolbar button:hover {
  cursor: pointer;
}

#toolbar a:hover {
  cursor: pointer;
}

.line {
  /* min-width: 1px;
  height: 100%;
  background: #3c3939; */
}

#jsenvLogoSvg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/* file name input & indicators */
#file {
  background: rgba(31, 38, 44, 0.72);
  max-width: 40%;
  padding: 0 1.2em;
}

#file-input {
  width: 100%;
  padding: 0px;
  font-family: monospace;
  font-size: 15px;
  color: #cecece;
  background: transparent;
  border: transparent;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#file-input:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

/* file and settings icons */
#fileIconSvg,
#settingsIconSvg {
  fill: #cecece;
  width: 20px;
}

.iconToolbar {
  margin: 0 10px;
  height: 40px;
}

.iconToolbar:hover {
  fill: #909090 !important;
}

.iconToolbar-wrapper {
  height: 100%;
}

.iconToolbar-selected.file-icon-wrapper {
  background: #1f262c;
}

.iconToolbar-selected.settings-icon-wrapper {
  background: #030713;
}

/* close icon */
#crossIconSvg {
  fill: #cecece;
  width: 18px;
}

/* re-open toolbarTrigger */
#toolbarTrigger {
  display: none;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 10px;
  width: 50px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #00000026;
  border-bottom: none;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  transition: 600ms;
}

#toolbarTrigger:hover {
  cursor: pointer;
}

#toolbarTrigger.toolbarTriggerVisible {
  display: block;
}

#toolbarTrigger.toolbarTriggerUp {
  height: 40px;
  padding: 5px 0;
}

#jsenvLogo {
  display: none;
  transition: 600ms;
}

#jsenvLogo.jsenvLogoVisible {
  display: block;
}
