@import "./tooltip.css";
@import "./execution-indicator.css";
@import "./livereload-indicator.css";
@import "./settings.css";
@import "./overflow-menu.css";

/* toolbar themes */
@import "./light-theme.css";
@import "./jsenv-theme.css";

#toolbar {
  background: #404040;
}

#toolbar-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

#toolbar-wrapper > * {
  display: table-cell;
  vertical-align: middle;
}

#toolbar button {
  background: none;
  border: none;
  height: 100%;
  padding: 0;
}

#toolbar button:hover {
  cursor: pointer;
}

#toolbar a:hover {
  cursor: pointer;
}

/* file name input & indicators */
#file {
  max-width: 40%;
  padding: 0 1.2em;
}

#file-input {
  width: 100%;
  padding: 0px;
  font-family: monospace;
  font-size: 15px;
  color: #cecece;
  background: transparent;
  border: transparent;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#file-input:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

/* file and settings icons */
#fileIconSvg,
.settings-icon {
  width: 20px;
}

.iconToolbar {
  height: 40px;
  fill: #cecece;
}

.iconToolbar:hover {
  fill: #909090 !important;
}

.toolbar-icon-wrapper {
  height: 100%;
  text-align: center;
  width: 40px;
  display: inline-block;
}

#file-list-link[data-active] a {
  background: #1f262c;
}

#file[data-active] {
  background: rgba(31, 38, 44, 0.72);
}

#settings[data-active] button {
  background: #030713;
}

/* close icon */
#crossIconSvg {
  width: 18px;
}

/* re-open toolbar-trigger */
#toolbar-trigger {
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: -30px;
  right: 20px;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid #00000026;
  border-bottom: none;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}

#toolbar-trigger[data-animate] {
  transition: 600ms;
}

#toolbar-trigger #jsenvLogoSvg {
  width: 35px;
  height: 35px;
  opacity: 0;
  transition: 600ms;
}

html[data-toolbar-visible] #toolbar-trigger {
  display: none;
}

#toolbar-trigger:hover {
  cursor: pointer;
}

#toolbar-trigger[data-expanded] {
  bottom: 0;
}

#toolbar-trigger[data-expanded] #jsenvLogoSvg {
  opacity: 1;
}

/* #jsenvLogo {
  transition: 600ms;
} */
