.tooltip {
  position: absolute;
  bottom: 100%;
  display: none;
  max-width: 260px;
  margin-bottom: 6px;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background-color: rgb(94, 94, 94);
  border-radius: 6px;
  cursor: default;
}

.tooltip::after {
  position: absolute;
  top: 100%;
  left: 14px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(94, 94, 94) transparent transparent transparent;
  content: "";
}

.tooltip[data-toolip-left] {
  margin-right: 5px;
}
.tooltip[data-toolip-left]::after {
  left: 15px;
}

[data-tooltip-visible] .tooltip,
[data-tooltip-auto-visible] .tooltip {
  display: block;
  animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip_action {
  display: inline-block;
  margin-top: 6px;
  padding: 3px 7px;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
}

.tooltip_action a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.tooltip_icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: white;
}
