body {
  padding: 0;
  margin: 0;
}

main {
  background: pink;
  height: 100%;
  padding-bottom: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: blue;
  height: 0;
  width: 100%;
}

main,
#page,
footer {
  transition-duration: 300ms;
}

html[data-toolbar-visible] main {
  height: calc(100vh - 40px);
}
html[data-toolbar-visible] #page {
  padding-bottom: 40px;
}
html[data-toolbar-visible] footer {
  height: 40px;
}

#page {
  min-height: 100%;
  background: yellow;
}

#page-content {
  background: green;
  position: relative;
}

#page-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#toggle {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
}
